@charset 'UTF-8';
/* footer.css */
.footer {
	border-top: 1px solid #ececec;
	background-color: #fff;
}
.footer .button-sizeM {
	width: 130px;
	height: 42px;
	border-radius: 0;
	color: #333;
	font-size: 18px;
	line-height: 42px;
	cursor: pointer;
}
.footer .button-sizeS {
	position: relative;
	height: 20px;
	margin-left: 10px;
	padding: 0 16px 0 7px;
	border-radius: 2px;
	color: #666;
	font-size: 12px;
	line-height: 20px;
	cursor: pointer;
}
.footer .button-sizeS:before {
	content: '';
	position: absolute;
	top: 6px;
	right: 10px;
	width: 0;
	height: 0;
	border: 3px solid transparent;
	border-right-width: 0;
	border-left-color: #aaa;
}
.footer-wrap {
	overflow: hidden;
	padding: 33px 0 40px;
}
.footer-wrap .info-group {
	float: right;
	padding-left: 75px;
	border-left: 1px solid #ececec;
}
.footer-wrap .copy-group {
	float: left;
}
.footer-wrap address span,
.footer-wrap p span + span {
	display: inline-block;
	margin-left: 15px;
}
.info-group i {
	display: block;
	margin-bottom: -2px;
}
.info-group strong {
	color: #333;
	font-size: 18px;
}
.info-group li a {
	margin-left: 10px;
	color: #ff472e;
	font-family: 'roboto';
	font-size: 30px;
	font-weight: 700;
	letter-spacing: -.75px;
}
.info-group ul {
	margin-bottom: 16px;
}
.info-group li {
	color: #333;
	letter-spacing: -.5px;
}
.info-group li + li {
	margin-top: 4px;
}
.info-group .button + .button {
	margin-left: 20px;
}
.copy-group {
	color: #333;
	font-size: 13px;
}
.copy-group .logo {
	display: block;
	margin-bottom: 13px;
}
.copy-group .tit {
	font-size: 14px;
}
.copy-group address {
	margin-top: 12px;
}
.copy-group p {
	margin-top: 3px;
}
.copy-group .copy {
	margin-top: 15px;
	color: #999;
	font-size: 11px;
}
@media screen and (max-width: 960px) {
	.footer .button-sizeS {
		padding: 0 8px 0 0 ;
		border-width: 0 0 1px 0;
		border-color: #999;
	}
	.footer .button-sizeS:before {
		right: 0;
	}
	.footer .inner + .inner {
		margin-top: 30px;
		padding-top: 40px;
		border-top: 1px solid #ececec;
	}
	.footer-wrap .info-group {
		overflow: hidden;
		float: none;
		max-width: 560px;
		margin: 0 auto;
		padding: 0;
		border-left: 0;
	}
	.footer-wrap .info-group ul {
		float: left;
		margin-bottom: 0;
	}
	.footer-wrap .info-group li i {
		display: inline-block;
		vertical-align: middle;
	}
	.footer-wrap .info-group li strong {
		display: inline-block;
		vertical-align: middle;
		margin: 3px 0 0 5px;
	}
	.footer-wrap .info-group li a {
		display: block;
		margin-left: 0;
	}
	.footer-wrap .info-group .button-group {
		float: right;
		/* width: calc(100% - 200px);*/
		width: 42%;
	}
	.footer-wrap .info-group .button-group .button {
		display: block;
		width: 100%;
		max-width: 230px;
		margin: 0;
	}
	.footer-wrap .info-group .button-group .button + .button {
		margin-top: 15px;
	}
	.footer-wrap .copy-group {
		float: none;
		text-align: center;
	}
	.footer-wrap .copy-group .logo {
		margin: 0 auto 15px;
	}
}
@media screen and (max-width: 460px) {
	.footer-wrap .info-group .button-group {
		width: 30%;
	}
	.footer-wrap .info-group .button-group .button {
		padding: 0 10px;
	}
}