@charset 'UTF-8';
/* content.css */
/* 마이페이지 */
.errorCont .section,
.mypageCont .section {
	padding: 80px 0 195px;
}
.errorCont .inner,
.mypageCont .inner {
	width: 600px;
	padding: 0 10px;
}
.mypageCont .heading-depth01 {
	margin-bottom: 40px;
}
.mypageCont .heading-depth01 .title {
	font-size: 32px;
	text-align: center;
}
.mypageCont .heading-depth02 .title {
	font-size: 20px;
}
.mypageCont .heading-depth02 .title + span {
	font-size: 16px;
}
.mypageCont .heading-depth03 .title span {
	display: inline-block;
	margin-left: 5px;
	color: #666;
	font-size: 14px;
}
.mypageCont .board + .heading {
	margin-top: 55px;
}
.mypageCont .box {
	padding: 30px 40px;
	border-radius: 8px;
}
.mypageCont .box + .box {
	margin-top: 40px;
}
.mypageCont .box > .heading:first-child {
	margin-top: -3px;
}
.mypageCont .board-write .item {
	position: relative;
	padding-left: 75px;
}
.mypageCont .board-write .tip.left {
	margin-left: 0;
}
.mypageCont .board-write .alert {
	padding-left: 75px;
}
.mypageCont .board-write .board-row-full .alert {
	padding-left: 0;
}
.add-area {
	margin-top: 13px;
}
.add-area li {
	margin-top: 6px;
}
.add-area .checkbox + span {
	color: #666;
	font-size: 14px;
}
.add-area .checkbox {
	margin-right: 60px;
}
.add-area .button {
	margin-left: 10px;
}
.check-list {
	margin-bottom: 20px;
}
.check-list li + li {
	margin-top: 20px;
}
.myinfo-link {
	overflow: hidden;
}
.myinfo-link .tip {
	float: left;
	width: 60%;
	margin-top: 0;
}
.myinfo-link .button-link {
	float: right;
}
.join-msg {
	margin-top: 22px;
}
.join-msg p {
	text-align: center;
}
.join-msg > p:first-child {
	margin-bottom: 2px;
	font-size: 24px;
}
.join-desc {
	margin-top: 57px;
	padding-top: 45px;
	border-top: 1px dashed #ccc;
}
.join-desc .card-cont {
	padding: 21px 29px;
}
.join-desc .text:not(.small) {
	margin-bottom: 10px;
	font-size: 18px;
	font-weight: 300;
	text-align: center;
}
.join-desc .text:not(.small) span {
	font-weight: 400;
}
.join-desc dl {
	overflow: hidden;
}
.join-desc dl + dl {
	margin-top: 12px;
}
.join-desc dt,
.join-desc dd {
	float: left;
	color: #666;
	font-size: 14px;
}
.join-desc dt {
	width: 107px;
	color: #333;
}
.join-desc .myinfo-link {
	margin: 15px 0 22px;
}
.join-desc .text.small {
	text-align: center;
}
.join-invite p {
	text-align: center;
}
.join-invite .text:first-child {
	margin-bottom: 15px;
	font-size: 24px;
}
.join-invite .icon {
	display: block;
	margin: 30px auto;
}
.join-invite + .button-wrap .button,
.join-desc + .button-wrap .button {
	padding: 0 40px;
}
.proceeds {
	margin-bottom: 25px;
}
.proceeds p {
	text-align: center;
}
.radio-list {
	margin-top: 25px;
	margin-bottom: 30px;
}
.radio-list li {
	font-size: 14px;
}
.radio-list li + li {
	margin-top: 10px;
}
/* 약관 */
.terms .tit {
	margin-bottom: 7px;
	font-size: 18px;
}
/* k맴버스 로그인 */
.mypageCont .kmLogin .board-name {
	display: block;
	position: static;
	top: inherit;
	left: inherit;
	margin-bottom: 10px;
	color: #333;
	font-size: 18px;
	letter-spacing: -.5px;
}
.mypageCont .kmLogin.board-write .item {
	padding-left: 0;
}
.mypageCont .kmLogin .board-row + .board-row {
	margin-top: 10px;
}
/* 링크생성 > 간편링크 만들기 */
.link-ctg {
	margin-top: -12px;
	margin-left: -6px;
}
.link-ctg .button {
	width: 120px;
	margin: 12px 6px 0;
}
/* 링크생성 > 링크생성 및 큐알코드 생성 */
.product-detail {
	overflow: hidden;
	width: 765px;
	margin: 35px auto 0;
}
.product-detail .thumb-area {
	overflow: hidden;
	float: left;
	position: relative;
	width: 290px;
	height: 277px;
	margin-right: 70px;
	border: 1px solid #ccc;
}
.product-detail .thumb-area .button {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 15px 0;
	border-top: 1px solid #ececec;
	border-radius: 0;
}
.product-detail .thumb-area .button i {
	margin-right: 5px;
}
.product-detail .cont-area {
	float: left;
	width: 400px;
}
.product-detail .cont-area p {
	overflow: hidden;
	margin-top: 10px;
	font-size: 24px;
	font-weight: 700;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.product-detail .cont-area span {
	display: block;
	display: -webkit-box;
	overflow: hidden;
	margin: 2px 0 20px;
	color: #666;
	font-size: 18px;
	text-overflow: ellipsis;
	line-height: 1.3;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}
.product-detail .cont-area dl {
	overflow: hidden;
}
.product-detail .cont-area dl + dl {
	margin-top: 4px;
}
.product-detail .cont-area dt {
	float: left;
	color: #666;
	font-size: 16px;
}
.product-detail .cont-area dd {
	float: right;
	color: #333;
}
.product-detail .cont-area em {
	display: inline-block;
	height: 30px;
	margin: 20px 0 10px;
	padding: 0 25px;
	border-radius: 25px;
	color: #fff;
	font-size: 14px;
	font-weight: 700;
	text-align: center;
	line-height: 30px;
	background-color: #ff472e;
}
.col-qr {
	width: 25.5%;
}
.col-tag {
	width: 74.5%;
}
.col-qr .box,
.col-tag .box {
	height: 334px;
}
.col-qr .img-wrap {
	width: 145px;
	height: 145px;
	margin: 0 auto;
	text-align: center;
}
.col-qr .img-wrap img {
	box-shadow: rgba(0, 0, 0, .1) 0 0 10px 3px;
}
.col-qr .button + .button {
	margin-top: 10px;
}
.col-qr .button-alert span {
	left: 30%;
}
.col-tag .text {
	margin-top: 10px;
}
/* 링크생성 > 카테고리배너 */
/* .flex-st {
	 display: flex;
	align-items: stretch;
}*/
/* .flex-st .box {
	margin-bottom: 0;
}*/
.col-preview {
	width: 59%;
}
.col-preview .box {
	display: flex;
	flex-direction: column;
	min-height: 440px;
}
.col-preview .img-prv {
	display: flex;
	align-items: center;
	justify-content: center;
	flex: auto;
}
.col-preview p {
	margin-bottom: 10px;
	color: #999;
	font-size: 20px;
	text-align: center;
}
.col-html {
	width: 41%;
	min-height: 440px;
}
.col-html .box {
	height: calc(100% - 36px - 25px);
	/* min-height: 440px;*/
}
.col-html .textarea-wrap {
	height: 300px;
}
.col-html .textarea-wrap .textarea {
	height: 100%;
	margin-top: 0;
}
/* 리포트 */
.term {
	position: relative;
	color: #333;
	font-size: 18px;
	text-align: center;
}
.term + .term {
	margin-top: 30px;
}
.term span {
	color: #ff472e;
}
.term .button-sizeM {
	height: 32px;
	margin-left: 15px;
	line-height: 32px;
}
.term .update {
	position: absolute;
	top: 5px;
	right: 0;
	color: #999;
	font-size: 14px;
	letter-spacing: -.5px;
}
.term > .update:first-child {
	position: inherit;
	top: inherit;
	margin-top: 10px;
	text-align: right;
}
.result-box {
	position: relative;
}
.result-box .row-wrap {
	display: flex;
	justify-content: end;
	flex-wrap: wrap;
}
.result-box .row-wrap .col {
	flex: 0 1 20%;
	min-width: 120px;
}
.result-box .row-wrap.col03 .col {
	flex: 0 1 33%;
}
.result-box dl {
	padding: 5px 0 10px 24%;
}
.result-box dt {
	margin-bottom: 10px;
	color: #666;
}
.result-box dd {
	font-size: 20px;
	letter-spacing: -.5px;
}
.result-box + .tab {
	margin-top: 40px;
}
.account {
	/* width: 50%;*/
	margin: 30px auto;
}
.account .total {
	max-width: 420px;
	margin: 0 auto 10px;
	padding: 10px 0 7px;
	border: 1px solid #ccc;
	border-radius: 30px;
	color: #333;
	font-size: 20px;
	text-align: center;
}
.account .total strong {
	color: #ff472e;
}
.account .num {
	max-width: 500px;
	margin: 0 auto;
	font-size: 16px;
}
.account .num:before,
.account .num:after {
	content: '';
	display: table;
}
.account .num:after {
	clear: both;
}
.account .num div:first-child {
	float: left;
	padding-top: 12px;
}
.account .num div:last-child {
	float: right;
	height: 40px;
}
.account .num strong {
	color: #222;
}
.account .num span {
	color: #666;
}
.account .tip {
	margin: 2px 0 0 0;
}
/* 실적 팝업 */
.layer-result .layer-container {
	overflow-y: hidden;
}
.layer-result .result-box {
	margin-top: 0;
}
.layer-result .board-area {
	overflow-y: auto;
	height: 300px;
	max-height: 300px;
}
/* 에러페이지 */
.errorCont {
	text-align: center;
}
.errorCont .box {
	padding: 60px;
	border-radius: 8px;
}
.errorCont .cont-tit strong {
	margin-bottom: 25px;
	font-size: 28px;
}
.errorCont .cont-txt {
	margin-bottom: 50px;
	color: #666;
	word-break: keep-all;
	line-height: 1.6;
}
.errorCont .icon {
	margin-bottom: 35px;
}
.errorCont .button {
	min-width: 162px;
}
@media screen and (max-width: 960px) {
	/* 리포트 */
	.result-box dd {
		font-size: 16px;
	}
	.term .update {
		position: inherit;
		top: inherit;
		right: inherit;
		margin-top: 5px;
		text-align: right;
	}
	.account .num div:last-child {
		margin-top: 5px;
	}
	/* 마이페이지 */
	.errorCont .inner,
	.mypageCont .inner {
		width: 100%;
	}
	.add-area .checkbox {
		margin-right: 30px;
	}
	.terms .tit {
		font-size: 16px;
	}
	.myinfo-link .tip {
		float: none;
		width: 100%;
		margin-bottom: 5px;
	}
	/* 링크생성 > 간편링크 만들기 */
	.link-ctg .button {
		width: 85px;
	}
	/* 링크생성 > 링크생성 및 큐알코드 생성 */
	.product-detail {
		width: 100%;
	}
	.product-detail .cont-area {
		float: none;
		width: 100%;
	}
	.product-detail .thumb-area {
		float: none;
		margin: 0 auto;
	}
	.col-qr,
	.col-tag {
		width: 100%;
	}
	.col-qr .box,
	.col-tag .box {
		height: auto;
	}
	.col-qr .button {
		display: block;
		margin: 0 auto;
	}
	.product-detail {
		margin-top: 15px;
	}
	.product-detail .cont-area p {
		font-size: 16px;
	}
	.product-detail .cont-area span,
	.product-detail .cont-area dt {
		font-size: 14px;
	}
	/* 링크생성 > 카테고리배너 */
	/* .flex-st {
		display: block;
	}*/
	.col-html {
		min-height: 100%;
	}
	.col-html .box {
		min-height: 100%;
	}
	.col-html .textarea-wrap {
		height: auto;
		min-height: 120px;
	}
	/* 에러페이지 */
	.errorCont .box {
		padding: 60px 30px;
	}
	.errorCont .button {
		margin: 5px 10px;
	}
}
/* Xs Max */
@media screen and (max-width: 414px) {
	.mypageCont .box {
		padding: 20px;
	}
}